body {
  background-color: #AAA;
  text-align: center;
}
.labels {
  margin: 0;
  padding 2px;
  border: 1px solid black;
}
.inputBox {
  margin-left: 0
}
.entry {
  border: 1px solid black;
}
.hidden {
  display: none;
}
