body {
  background-image: url('Happy-Bavarian-Man-Beer.png');
  background-repeat: no-repeat;
  background-size: 400px 400px;
  background-position: 95% 1%;
  background-attachment: fixed;
  font-family: Raleway, sans-serif;
  background-color: #4FA94D;
  text-align: center;
}
.labels {
  margin: 0;
  padding 2px;
  border: 1px solid black;
}
.inputBox {
  margin-left: 0;
}
.entry {
  width: 65%;
  display: inline-block;
  margin: 10px auto;
  background-color: rgba(250, 200, 51, 0.48);
  color: rgb(253, 252, 252);
  border-radius: 30px;
}
.inputLabel {
  color: #000;
}
.hidden {
  display: none;
}
.maltDescription {
  padding: 8px;
  margin: 3px;
}
.maltName {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.descriptionHeader {
  margin: 10px 0 3px 0;
  border-bottom: 2px solid white;
}
.mainHeader {
  border: 2px solid white;
  font-size: 25px;
  width: 30%;
  margin: 10px auto;
  background-color: #EC512F;
}
